body {
    background-image: url("backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

}
.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
h1 {
    font-size: 35px;
color: #3C3633;
    border-bottom: 5px  solid #B3A398; 
}
.border {
    color: #3C3633;
    font-size: 25px;
    border-bottom: 3px  solid #B3A398; 
}
.frame {
display: flex;
flex-direction: column;
align-items: center;
background-color: #EDC6B1;
width: fit-content;
border-radius: 10%;
}
.nutr {
list-style-type: none;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    font-size: 15px;
    padding: 20px;
    border: none;
    border-radius: 11px;
    background: #658147;
    box-shadow:  5px 5px 38px #28341c,
                 -5px -5px 38px #a2ce72;

}
.search {
    border-color: #B3A398;
    background-color: #CCD3CA;
    box-shadow: 2px 5px #E3E1D9;
    padding: 10px;
    width: 300px;

}